
<h1>Deliveries</h1>
<br>
<div class="form-group row">
  <div class="col-xs-3">
    <label>Desired Date</label>
    <input type="date" class="form-control" >
  </div>
  <div class="col-xs-3">
    <label>Client Name</label>
    <input type="text" class="form-control" >
  </div>
  <div class="col-xs-3">
    <label>Product Type</label>
    <select>
      <option></option>
    </select>
  </div>
  <div class="col-xs-3">
    <label>Status</label>
    <select>
      <option></option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>N°</th>
          <th>Desired Date</th>
          <th>Cliente Name</th>
          <th>Product Type</th>
          <th>Quantity of Product</th>
          <th>Type Delivery</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
