<div class="container">
  <h2>Create Fractioned Delivery</h2>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Client</div>
      <div class="panel-body">
      <div class="panel-heading">General Data About Delivery</div>
      <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <label>Date of the Delivery</label>
                <input type="date" class="form-control" [value]="delivery.dateDelivery" (input)="delivery.dateDelivery = $event.target.value" required/>
            </div>
            <div class="col-md-3">
                <label>Quantity of Product</label>
                <input type="number" class="form-control" [value]="delivery.quantityOfProduct" (input)="delivery.quantityOfProduct = $event.target.value" required/>
            </div>
            <div class="col-md-4">
              <label>Type of Product</label>
              <select class="form-control selectpicker" placeholder="Product..." (change)="updateProduct($event)">
                  <option *ngFor="let product of products"  [value]="product.productType">{{ product.descriptionProduct }}</option>
              </select>                  
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="float-left" routerLink="/client" >Create Client</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
