<div class="container">
  <h2>Create Fractioned Delivery</h2>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">General Data About Delivery</div>
      <div class="panel-body">
          <div class="row">
              <div class="col-md-3">
                  <label>Date of the Delivery</label>
                  <input type="date" class="form-control" [value]="delivery.dateDelivery" (input)="delivery.dateDelivery = $event.target.value" required/>
              </div>
              <div class="col-md-3">
                  <label>Quantity of Product</label>
                  <input type="number" class="form-control" [value]="delivery.quantityOfProduct" (input)="delivery.quantityOfProduct = $event.target.value" required/>
              </div>
              <div class="col-md-4">
                <label>Type of Product</label>
                <select class="form-control selectpicker" placeholder="Product..." (change)="updateProduct($event)">
                    <option *ngFor="let product of products"  [value]="product.productType">{{ product.descriptionProduct }}</option>
                </select>                  
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Client</div>
      <div class="panel-body">
        <div class="form-inline">
          <div class="form-group">
              <div class="input-group">
                  <label>Search Client by Name</label>
                  <div class="inner-addon right-addon">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                    <div class="input-group-btn">
                      <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Name</label>
            <p>Client's name</p>
          </div>
          <div class="col-md-2">
            <label>Legal Person</label>
            <select class="form-control selectpicker">
                <option>Phisical</option>
                <option>Juridical</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Document Number</label>
            <p>123456</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <label>Street</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-2">
              <label>Number</label>
              <input type="number" class="form-control" />
            </div>
            <div class="col-md-3">
              <label>Neighborhood</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>City</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-2">
              <label>State</label>
              <input type="text" class="form-control"/>
            </div>
          </div>
      </div>
    </div>
</div>
